body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	font-family: "微软雅黑";
	margin: 0;
	padding: 0;
}

body {
	overflow: -Scroll;
	overflow-x: hidden;
	color: #555;
	font-size: 14px;
	font-family:  "SimSun", "宋体", Verdana, Arial, Helvetica, sans-serif;
}

td,
th,
caption {
	font-size: 14px;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style: normal;
	font-weight: normal;
}

a {
	color: #555555;
	text-decoration: none;
}

img {
	border: none;
	cursor: pointer;
}

ol,
ul,
li {
	list-style: none;
}

input,
textarea,
select,
button {
	font: 14px Verdana, Helvetica, Arial, sans-serif;
}

table {
	border-collapse: collapse;
}

:after,
 :before {
	box-sizing: border-box;
}


/*----------------------------初始化------------------------------*/

.clear {
	clear: both;
}

.w1226 {
	width: 1226px;
	height: 100%;
	margin: auto;
	overflow: hidden;
}

header {
	position: relative;
	width: 100%;
	height: 80px;
	background: rgba(0,0,0, 0.6);
	z-index: 999;
	box-shadow: 1px 0px 15px rgba(0, 0, 0, 0.5);
	
}

#logo img {
	float: left;
	margin-left: 100px;
	
}

.weater {
	float: right;
	margin-right: 100px;
}

.weather1 {
	margin-top: 12px;
}

#demo {
	float: right;
	margin-right: 100px;
	color: #FFF;
	font-size: 16px;
}

.nav {
	width: 956px;
	margin-top: 45px;
	margin-left: 240px;
}

.nav a {
	float: right;
	color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-left: 15px;
}

.nav a:hover {
	color: #02bdd5;
}

.nav a:hover::before,
.nav a:hover::after,
.nav a:focus::before,
.nav a:focus::after {
	opacity: 1;
	transform: translateX(0px);
}

.nav a::before {
	margin-right: 10px;
	content: '[';
	transform: translateX(20px);
}

.nav a::after {
	margin-left: 10px;
	content: ']';
	transform: translateX(-20px);
}

.nav a::before,
.nav a::after {
	display: inline-block;
	opacity: 0;
	transition: transform 0.3s, opacity 0.2s;
}
footer {
	width: 100%;
	height: 350px;
	background: #3c3c3c;
}

.foot_top {
	height: 79px;
	border-bottom: 1px solid #e0e0e0;
	float: left;
	margin-bottom: 20px;
}

.foot_top li {
	float: left;
	width: 243px;
	text-align: center;
	height: 25px;
	line-height: 25px;
	border-right: 1px solid #E0E0E0;
	margin-top: 25px;
	
}

.foot_top li:last-child {
	border-right: none;
}

.foot_top a {
	display: block;
	font-family: "微软雅黑";
	font-size: 16px;
	color: #c2c2c2;
	transition: 0.2s;

}

.foot_top a:hover {
	color: #FF4400;
}

.foot_top i {
	font-size: 26px;
	vertical-align: -5px;
	margin-right: 5px;
	font-family: "微软雅黑";
	color: #c3c3c3;
}
.foot_bot {
	width: 840px;
	margin-top: 10px;
	height: 26px;
	float: left;
	color:#c3c3c3;
}
.foot_bot li{
	float: left;
	width: 120px;
	font-family: "微软雅黑";
}
.foot_bot li a{
	color:#c2c2c2;
}
.foot_bot li a:hover{
	    color: #02bdd5;
}

.first_li{
	font-size: 16px;
	font-family: "微软雅黑";
	font-weight: bold;
	
}
.foot_rbot{
	float: right;
	width: 378px;
	height: 110px;


	
}
.foot_rbot li{
	width:110px;
	height: 110px;
	float: left;
	
	margin-left: 20px;
	
}

.jiesao{
	width: 100%;
	height: 100%;
	background: #3c3c3c;
	border-top: 1px solid #e0e0e0;
	margin-top: 20px;
	

}
.jiesao p:first-child{
		margin-top: 20px;
}
.jiesao p{
	
	font-family: "微软雅黑";
	color:#555555;
	margin-top: 10px;
	color:#c3c3c3;
	
}
